* {
    margin: 0;
}

.full-screen-video-container {
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.full-screen-video-container video {
    position: absolute;
    z-index: -1;
    min-width: 100%;
    min-height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.full-screen-video-content {
    background-color: rgba(255, 255, 255, 0.8);
    color: #333;
    padding: 20px;
    font-size: 3em;
    margin: 100px 30px 0 30px;
    border-radius: 10px;
    font-family: sans-serif;
}
